* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #AABF8A;
    
}
.painel1{
    height: 80px;
    width: 1300px;
    background-color: #D9D9D9;
    border-radius: 25px;
    padding-right: 100px;
    padding-left: -20px;
    border-radius: 40px;
}

.foto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px;
    padding: 10px;
    gap: 150px;
    
    margin-right: 10px;

}

nav{
   display: flex;
    justify-content: space-between;

}
.verde {
    height: 800px;
    width: 300px;
    background-color: #58764E;
    margin-top: 100px;
    border-radius: 30px ;

}
.quadro{
    display: flex;
    align-items: center;
    margin: 10 px;
    
}
.imgs{
    justify-content: center;
    
}


